<div class="container">
  <h1 class="titleheader">Ajouter un jardin</h1>
  <%= simple_form_for @garden do |f| %>
    <%= f.input :title, label: "Titre"%>
    <%= f.input :price, label: "Prix" %>
    <%= f.input :image, as: :file, label: "Photo" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :land, label: "Type", collection: Garden::LIST_OF_LAND %>
    <%= f.button :submit, class: "btn btn-brique", label: "Valider" %>
  <% end %>
</div>
