
<!DOCTYPE html>
<html>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card-garden">
              <%= cl_image_tag @garden.image.key%>
              <div class="card-garden-infos">
              <p><strong>Titre de l'annonce</strong>: <%= @garden.title %></p>
              <p><strong>Description</strong>: <%= @garden.description %></p>
              <p><strong>Prix</strong>: <%= @garden.price %></p>
              <p><strong>Addresse</strong>: <%= @garden.address %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</html>

